p.morada{ color: #30114c; 
font-family: "Sofia";
font-style: italic;
/*font-size: calc(10px + 2vmin);*/
font-size:9vw;
text-align: center;
}
.lorem{
  font-family: "Sofia";
font-style: italic;
/*font-size: calc(10px + 2vmin);*/
font-size:4vw;
text-align: left;
text-justify: distribute-all-lines;
}

.lorem-list{
  list-style-type: upper-latin;;
  font-family: "Sofia";
font-style: italic;
/*font-size: calc(10px + 2vmin);*/
font-size:4vw;
text-align: left;

}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.back{
  background-color: #ffea6d;
  justify-content: center;
  
    border: 1% solid #ffea6d;
    padding-top: 0%;
    padding-right: 0.5%;
    padding-bottom: 5%;
    padding-left: 2%;
  
}
.qblz{
  text-align-last:  center;
  width: 100%;
  height: auto;
}

