.App-header {
  background-color: #ffea6d;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}


p.morada{ color: #30114c; 
font-family: "Sofia";
font-style: italic;
/*font-size: calc(10px + 2vmin);*/
font-size:9vw;
text-align: center;
}
.back{
  background-color: #ffea6d;
  justify-content: center;
}
.qblz{
  text-align-last:  center;
  width: 100%;
  height: auto;
}

